Ferramentas Web - XML, Ajax e Json/Aula 03 e 04 (Estilização do XML)/exer_fixacao_xml.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mencionar o site que criou este modelo xsd (obrigatório)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- Criamos o modelo xsd -->
<!-- elemento raiz : "Aluno"-->
 <xs:element name="Aluno">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="nome" type="xs:string" /> 
            <!-- elemento tem dois atribuitos -->
            <xs:element name="dataNacimento" type="xs:string" />
            <xs:element name="cpf" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
 </xs:element>